.content
  .head
    .divider
    .name Stefania
    .name-small Weinert Correa
    .left
      .mail #[i.fa.fa-linkedin-square] https:/www.linkedin.com/in/stefania-weinert
      .mail #[i.fa.fa-envelope] weinert.stefania@gmail.com
      .place #[i.fa.fa-map-marker] América, Joinville
      .phone #[i.fa.fa-phone] (53) 9 9188070
  
  .rows
    .left 
      .education
        h2 EXPERIÊNCIA
        ul
          li 
            span.title Teacher Advisor | Colégio Positivo Bilíngue
            .description Ensino de língua inglesa para o ensino fundamental e educação infantil. Desenvolvimento das aulas de forma a desenvolver o idioma em contextos comunicativos de vida real e educativa.
            .place Joinville
        
    .right
      //- .hobbys
      //-   h2 Hobbies
      //-   ul
      //-     li #[i.fa.fa-wikipedia-w] #[span Wikipedia]
      //-     li #[i.fa.fa-trophy] #[span Tennis]
        
      //- .skills
      //-   h2 Skills
      //-   ul
      //-     li #[i.fa.fa-battery-quarter] LaTeX
      //-     li #[i.fa.fa-battery-three-quarters] HTML & CSS 
      //-     li #[i.fa.fa-battery-quarter] SCSS, jQuery
      //-     li #[i.fa.fa-battery-half] NodeJS
      //-     li #[i.fa.fa-battery-quarter] SQL
      //-     li #[i.fa.fa-battery-quarter] Grav CMS
      //-     li #[i.fa.fa-battery-quarter] WordPress 

style
  include:scss style.scss
